.fenXiang{
	height: 300px;
	width: 215px;
	background-color: white;
	position: fixed;
	top: 100pxx;
	left: -217px;
	border: 1px solid #ccc;
	z-index: 123;
	opacity: 0.7;
}
.fenXiang span{
	width: 30px;
	height:90px;
	line-height: 30px;
	text-align: center;
	left: 215px;
	top:100px;
	position:absolute;
	background-color: #a4a4a4;
	color: #666;
	font-weight: bold;
	font-size: 16px;
}
.fenXiang div:nth-child(2){
	width: 20px;
	height: 246px;
	background: url("../../CUI/images/60.jpg");
}
.fenXiang div:nth-child(3) {
    width: 88px;
    height: 246px;
}

.fenXiang div:nth-child(4) {
    width: 23px;
    height: 246px;
    background: url("../../CUI/images/62.jpg");
}

.fenXiang div:last-child {
    width: 84px;
    height: 246px;
}
.fenXiang div{
	float: left;
	margin-top: 27px;
	
}
.fenXiang ul li+li{
	margin-top: 14.3px;
}
.fenXiang ul li a:hover{
	text-decoration: underline;
	
}
#header .banxin{
	 border-bottom: 1px solid #f2f2f2;
    height: 90px;
}
#header .banxin>a{
	float: left;
	 width: 170px;
    /*background-color: green;*/
    margin: 22px 0;
    height: 46px;
	display: inline-block;
	margin-right: 40px;
}
.banxin a:hover{
	color: #31c27c;
}
#header .banxin ul{
    display: inline-block;
}
#header .banxin ul li:first-child{
   background-color:#31c27c;
}
#header .banxin ul li:first-child a{
	color: #ffffff;
}
#header .banxin li{
	display: inline-block;
	height: 90px;
	padding: 0 18px;
	font-size: 18px;
	line-height: 90px;
}
#header .banxin .ipt{
	width: 218px;
	height: 36px;
	border: 1px solid #c9c9c9;
	margin-left: 16px;
}
#header .banxin span{
	font-size: 16px;
	margin: 0 20px;
}
#header .banxin .btn1{
	width: 109px;
	height: 36px;
	background-color: #32c27c;
	color: #fff;
	font-size: 14px;
	border: 1px solid #32c27c;
	margin-right: 10px;
}
#header .banxin .btn2{
	width: 83px;
	height: 36px;
	border: 1px solid #c9c9c9;
	font-size: 14px;
}






















