*{
	margin: 0;
	padding: 0;
	
}
ul{
	list-style: none;
}
ol{
	list-style: none;
}
a{
	text-decoration: none;
	color:  #868686;
}
/*个人中心*/
.geRen {
    margin: 0 auto;
    height: 301px;
    width: 538px;
    background-color: #fafafa;
    margin-top: 122px;
    border: 1px solid #ccc;
}

p {
    width: 538px;
    height: 26px;
    font-size: 26px;
    margin: 0 auto;
    margin-bottom: 22px;
    text-align: center;
    margin-top: 77px;
    font-weight: bold;
}

.geRen .zhuCe {
    width: 299px;
    height: 251px;
    float: left;
    margin-top: 41px;
}

.geRen .zhuCe img {
    margin-left: 40px;
}

.geRen .zhuCe .xia .shouJi {
    margin: 0 auto;
    width: 225px;
    height: 29px;
    background-color: #2979c7;
    text-align: center;
    line-height: 29px;
    border-radius: 10px;
    margin-top: 22px;
}

.geRen .zhuCe .xia .dl {
    margin: 0 auto;
    width: 225px;
    height: 29px;
    background-color: #2979c7;
    text-align: center;
    line-height: 29px;
    border-radius: 10px;
    margin-top: 12px;
}

.geRen .zhuCe .xia .shouJi a {
    color: #fff;
}

.geRen .zhuCe .xia .dl a {
    color: #fff;
}

.geRen .weiXin {
    width: 239px;
    height: 251px;
    /*background-color: blue;*/
    float: right;
    margin-top: 41px;
}

.geRen .weiXin ul li {
    /*width: 41px;*/
    height: 41px;
    line-height: 41px;

}

.geRen .weiXin ul li a {
    margin-left: 53px;
}

.geRen .weiXin ul li a:hover {
    text-decoration: underline;
}

.geRen .weiXin ul li + li {
    margin-top: 15px;
}

.geRen .weiXin ul li:first-child {
    background: url(images/46.jpg) left center no-repeat;
    padding-right: 12px;
}

.geRen .weiXin ul li:nth-child(2) {
    background: url(images/47.jpg) left center no-repeat;
    padding-right: 12px;
}

.geRen .weiXin ul li:nth-child(3) {
    background: url(images/48.jpg) left center no-repeat;
    padding-right: 12px;
}

.geRen .weiXin ul li:last-child {
    background: url(images/49.jpg) left center no-repeat;
    padding-right: 12px;
}
/*常见问题*/
.wenTi{
	width: 1366px;
	height: 1985px;
	background: url("images/51.png");
}
.wenTi .yy{
	width: 200px;
	height: 60px;
	background-color: #242424;
	position: fixed;
	left: 80px;
	line-height: 60px;
	text-align: center;
	font-size: 35px;
}
.wenTi .huoJian{
	width: 40px;
	height: 40px;
	background: url(images/64.gif);
	position: fixed;
	right: 20px;
	bottom: 70px;
}

/*分享*/
.fenXiang{
	height: 300px;
	width: 215px;
	background-color: white;
	position: fixed;
	top: 100px;
	left: -217px;
	border: 1px solid #ccc;
}
.fenXiang span{
	width: 30px;
	height: 100px;
	line-height: 35px;
	text-align: center;
	left: 215px;
	top: 100px;
	position: absolute;
	background-color: yellow;
	color: #666;
	font-weight: bold;
	
}
.fenXiang div:nth-child(2){
	width: 20px;
	height: 246px;
	background: url("images/60.jpg");
}
.fenXiang div:nth-child(3) {
    width: 88px;
    height: 246px;
}
.fenXiang div:nth-child(4) {
    width: 23px;
    height: 246px;
    background: url("images/62.jpg");
}
.fenXiang div:last-child {
    width: 84px;
    height: 246px;
}
.fenXiang div {
    float: left;
    margin-top: 27px;
}
.fenXiang ul li + li {
    margin-top: 11px;
}
.fenXiang ul li a:hover {
    text-decoration: underline;
}


/*顶部--------------*/
.one .top{
	height: 60px;
	width: 1366px;
	background-color: black;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
}
.one .top .left{
	margin-left: 82px;
	color: white;
	line-height: 60px;
	float: left;
	width: 263px;
	background: url("imgs/15.jpg") left center no-repeat;
}
.one .top .left a {
    font-size: 30px;
    font-family: "微软雅黑";
    color: white;
    margin-left: 40px;

}
.one .top .middle li {
    float: left;
    line-height: 56px;
    font-size: 15px;
    margin-right: 103px;
    /*border-bottom: 4px solid red;*/
}
.one .top .middle li a:hover {
    color: white;
    font-weight: bold;
}
.one .top .right li {
    float: right;
    line-height: 60px;
    font-size: 15px;
    /*margin-right: 103px;*/

}
.one .top .right li:first-child {
    margin-left: 22px;
    margin-right: 80px;
    font-size: 12px;
}
.one .top .right li span {
    color: white;
    border-bottom: 1px solid #fff;

}
.one .top .right li:last-child a {
    border: 1px solid #ea524e;
    padding: 7px 12px;
    color: red;

}
.one .top .middle li.active {
    border-bottom: 1px solid red;
    /*border-bottom: 0;*/
}

/*主体开始*/
.body ul .one{
	 background: url("images/2.jpg");
    height: 768px;
    width: 1366px;
}
.body ul .one .erJi {
    height: 500px;
    width: 768px;
    margin: 0 auto;
}













